<html lang="en">
    <head>
        <meta charset="UTF-8">
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" href="css/normalize.css" type="text/css">
        <link rel="stylesheet" href="css/sakura.css">
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
        <title>Movie Finder</title>
    </head>
<body>
    <header class="pure-menu pure-menu-horizontal navbar">
        <ul class="pure-menu-list header">
            <a href="/" class="pure-menu-heading logo pure-menu-link">🎞️Movie Finder</a>
            <li class="pure-menu-item">
                
            </li>
            <li class="pure-menu-item">
                <div class="pure-menu pure-menu-horizontal">
                    <ul class="pure-menu-list header">
                        <li class="pure-menu-item">
                            <a href="/login/signup" class="pure-menu-link">Sign Up</a>
                        </li>
                        <li class="pure-menu-item">
                            <a href="/login" class="pure-menu-link">Login</a>
                        </li>
                        <li class="pure-menu-item">
                            <a href="/saved" class="pure-menu-link">Collection</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </header>
    <main>
        <h1>Your Collection</h1>
        <hr/>
        <h3>Your Favorite Movies</h3>
        <section class="movie-container">
            {{#favoriteMovies}}
            <div class="movie-card">
                <a href="/movies/{{ID}}">
                    <h2>{{Title}}</h2>
                </a>
                <p data-favoriteid="{{ID}}" class="movie-card-icons remove-icon"><span>Remove </span><i class="far fa-trash-alt icon"></i></p>
                <a href="/movies/{{ID}}">
                    <p class="movie-card-subtitle">{{Directors}} ∙ {{Year}} ∙ {{Age}}</p>
                    <div class="flex-container">
                        <p>Available on
                            {{#Netflix}} Netflix{{/Netflix}}{{^Netflix}}{{/Netflix}}                            
                            {{#Hulu}} Hulu{{/Hulu}}{{^Hulu}}{{/Hulu}}                            
                            {{#Disney+}} Disney+{{/Disney+}}{{^Disney+}}{{/Disney+}}                            
                            {{#Prime Video}} Prime Video{{/Prime Video}}{{^Prime Video}}{{/Prime Video}}                            
                        </p>
                    </div>
                </a>
            </div>
            {{/favoriteMovies}}
        </section>
        <hr/>
        <h3>Your Movie Watchlist</h3>
        <section class="movie-container">
            {{#watchList}}
            <div class="movie-card">
                <a href="/movies/{{ID}}">
                    <h2>{{Title}}</h2>
                </a>
                <p data-watchlistid="{{ID}}" class="movie-card-icons remove-icon"><span>Remove </span><i class="far fa-trash-alt icon"></i></p>
                <a href="/movies/{{ID}}">
                    <p class="movie-card-subtitle">{{Directors}} ∙ {{Year}} ∙ {{Age}}</p>
                    <div class="flex-container">
                        <p>Available on
                            {{#Netflix}} Netflix{{/Netflix}}{{^Netflix}}{{/Netflix}}                            
                            {{#Hulu}} Hulu{{/Hulu}}{{^Hulu}}{{/Hulu}}                            
                            {{#Disney+}} Disney+{{/Disney+}}{{^Disney+}}{{/Disney+}}                            
                            {{#Prime Video}} Prime Video{{/Prime Video}}{{^Prime Video}}{{/Prime Video}}                            
                        </p>
                    </div>
                </a>
            </div>
            {{/watchList}}
        </section>
    </main>
    <script src="/javaScript/collection.js"></script>
</body>
</html>