<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" href="css/normalize.css" type="text/css">
        <link rel="stylesheet" href="css/sakura.css">
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
        <title>Movie Finder</title>
    </head>
<body>
    <header class="pure-menu pure-menu-horizontal navbar">
        <ul class="pure-menu-list header">
            <a href="/" class="pure-menu-heading logo pure-menu-link">🎞️Movie Finder</a>
            <li class="pure-menu-item">
            </li>
            <li class="pure-menu-item">
                <div class="pure-menu pure-menu-horizontal">
                    <ul class="pure-menu-list header">
                        <li class="pure-menu-item">
                            <a href="/login/signup" class="pure-menu-link">Sign Up</a>
                        </li>
                        <li class="pure-menu-item">
                            <a href="/login" class="pure-menu-link">Login</a>
                        </li>
                        <li class="pure-menu-item">
                            <a href="/" class="pure-menu-link">Search</a>
                        </li>
                        <li class="pure-menu-item">
                            <a href="/saved" class="pure-menu-link">Collection</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </header>
    <main class="movie-page-container">
        {{#movieData}}
        <h1 class="title">{{movieData.Title}}</h1>
        <h3>{{movieData.Directors}} ∙ {{movieData.Year}}</h3>
        {{/movieData}}
        <div class="star-rating">
            <h4 class="no-top-margin">Average User Rating</h4>
            {{#userStarRating}}
                {{#.}}<span class="fa fa-star checked"></span>{{/.}}{{^.}}<span class="fa fa-star"></span>{{/.}}
            {{/userStarRating}}
            <p>{{avgRating}} / 5 ({{numReviews}})</p>
            {{#movieData}}
                <p><a href="/reviews/{{ID}}/add-review">Rate this movie</a></p>
            {{/movieData}}
        </div>
        <form action="">
            <div class="button-container">
                {{#movieData}}
                    <button data-movieid="{{ID}}" id="favorites" class="pure-button pure-button-primary rounded"><i class="fas fa-heart"></i> Favorites</button>
                    <button data-movieid="{{ID}}" id="watchList" class="pure-button pure-button-primary rounded"><i class="fas fa-plus"></i> Watchlist</button>
                {{/movieData}}
            </div>
        </form>
        <hr/>
        <section>
            <table class="pure-table pure-table-bordered table">
                <thead>
                    <tr>
                        <th>IMdb Score</th>
                        <th>Rotten Tomatoes</th>
                        <th>Age Range</th>
                        <th>Runtime</th>
                    </tr>
                </thead>
                <tbody>
                    {{#movieData}}
                    <tr>
                        <td class="stats">{{IMDb}}</td>
                        <td class="stats">{{Rotten Tomatoes}}</td>
                        <td class="stats">{{Age}}</td>
                        <td class="stats">{{Runtime}}</td>
                    </tr>
                    {{/movieData}}
                </tbody>
            </table>
        </section>
        <section>
            <table class="pure-table pure-table-bordered table">
                <thead>
                    <tr>
                        <th>Hulu</th>
                        <th>Netflix</th>
                        <th>Prime Video</th>
                        <th>Disney+</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {{#movieData}}
                        <td class="stats">
                            {{#Hulu}}<p class="availability">Available</p>{{/Hulu}}
                            {{^Hulu}}<p class="availability">Not Available</p>{{/Hulu}}
                            {{#Hulu}}<p class="available-icon"><i class="fas fa-check available-true"></i></p>{{/Hulu}}
                            {{^Hulu}}<p class="available-icon"><i class="fas fa-times available-false"></i></p>{{/Hulu}}
                        </td>
                        <td class="stats">
                            {{#Netflix}}<p class="availability">Available</p>{{/Netflix}}
                            {{^Netflix}}<p class="availability">Not Available</p>{{/Netflix}}
                            {{#Netflix}}<p class="available-icon"><i class="fas fa-check available-true"></i></p>{{/Netflix}}
                            {{^Netflix}}<p class="available-icon"><i class="fas fa-times available-false"></i></p>{{/Netflix}}
                        </td>
                        <td class="stats">
                            {{#Prime Video}}<p class="availability">Available</p>{{/Prime Video}}
                            {{^Prime Video}}<p class="availability">Not Available</p>{{/Prime Video}}
                            {{#Prime Video}}<p class="available-icon"><i class="fas fa-check available-true"></i></p>{{/Prime Video}}
                            {{^Prime Video}}<p class="available-icon"><i class="fas fa-times available-false"></i></p>{{/Prime Video}}
                        </td>
                        <td class="stats">
                            {{#Disney+}}<p class="availability">Available</p>{{/Disney+}}
                            {{^Disney+}}<p class="availability">Not Available</p>{{/Disney+}}
                            {{#Disney+}}<p class="available-icon"><i class="fas fa-check available-true"></i></p>{{/Disney+}}
                            {{^Disney+}}<p class="available-icon"><i class="fas fa-times available-false"></i></p>{{/Disney+}}
                        </td>
                        {{/movieData}}
                    </tr>
                </tbody>
            </table>
        </section>
        <hr/>
        <section>
            <h2>User Reviews ({{ numReviews }})</h2>
            <div class="review">
                {{#firstReview}}
                <div class="review-rating">
                    {{#firstReviewStarRating}}
                        {{#.}}<span class="fa fa-star checked"></span>{{/.}}{{^.}}<span class="fa fa-star"></span>{{/.}}
                    {{/firstReviewStarRating}}
                    {{rating}} / 5
                    <p class="review-subtitle">{{createdAt}} ∙ {{userId.firstName}} {{userId.lastName}}</p>
                </div> 
                <p>{{review}}</p>
                {{/firstReview}}
                {{^firstReview}}
                <div class="review-rating">
                    No Reviews
                </div> 
                {{/firstReview}}
            </div>
            {{#movieData}}
                {{#firstReview}}
                <p><a href="/reviews/{{ID}}">View all reviews</a> | <a href="/reviews/{{ID}}/add-review">Rate this movie</a></p>
                {{/firstReview}}
                {{^firstReview}}
                <p><a href="/reviews/{{ID}}/add-review">Rate this movie</a></p>
                {{/firstReview}}
            {{/movieData}}
            
        </section>
    </main>
</body>
<script src="/javaScript/app2.js"></script>
</html>